#index header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.384)), url(./../../img/lencois-maranhenses-ciclovivo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30em;
}

header h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 5px;
    background: linear-gradient(to right, purple, blue);
    border-radius: 100px;
}

#index header input {
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    border-radius: 5px;
    padding: 8px;
}

#index header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#turismo header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../img/lencois.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

#turismo h1::before {
    width: 330px;
}
#turismo header a{
    text-decoration: none;
    color: white;
}