@import './../tipography.css';
@import './../reset.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#index header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.384)), url(./../../img/lencois-maranhenses-ciclovivo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30em;
}

header h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 5px;
    background: linear-gradient(to right, purple, blue);
    border-radius: 100px;
}

#index header input {
    width: 40%;
    margin-top: 100px;
    margin-left: 30%;
    border-radius: 5px;
    padding: 8px;
}

#index header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#turismo header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../../img/lencois.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
}

#turismo h1::before {
    width: 330px;
}

#turismo header a {
    text-decoration: none;
    color: white;
}

main {
    background-color: rgba(128, 128, 128, 0.26);
    overflow: hidden;
}

main section img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

main nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(102, 51, 153);
    padding: 15px;
}

main p {
    max-width: fit-content;
    min-width: min-content;
}

main section {
    position: relative;
    text-align: center;
    display: flex;
    margin: 2em;
    min-width: 70%;
    max-width: 90%;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 50px;
}

main section:nth-child(even) {
    flex-flow: row-reverse wrap;
    float: right;
}


main section:nth-child(odd) {
    flex-flow: row wrap;
}

main h2 {
    margin-bottom: 0.5em;
}

main p {
    width: 80vh;
}

main section:first-of-type div {
    padding-inline: 5vh;
    padding-block: 5%;
}

main section:nth-of-type(2) div {
    margin-top: 50px;
    padding-left: 2%;
}

main section:last-child div {
    margin-top: 8%;
    margin-right: 1em;
}

main section:nth-of-type(odd)::after {
    content: '';
    position: absolute;
    left: -20px;
    width: 5px;
    border-radius: 10px;
    background-color: green;
}

main section:nth-of-type(3):after {
    height: 340px;
}

main section:first-of-type::after {
    height: 260px;
}

main section:nth-of-type(2)::after {
    content: '';
    position: absolute;
    right: -18px;
    width: 6px;
    top: 17%;
    height: 230px;
    border-radius: 10px;
    background-color: green;
}
main section:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
    background: rgba(255, 255, 255, 0.28);
}

#padrao {
    margin-right: 220px;
}

#foot {
    display: flex;
    background-color: rgb(102, 51, 153);
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 20px 60px;
}

footer p {
    margin-top: 10px;
}

footer i {
    font-size: 2rem;
}
@media screen and (max-width: 1624px) {
    main section {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }

    main section div {
        margin: 20px 0 !important;
        padding: 0 10px;
    }

    main section img {
        margin-bottom: 20px;
        width: 100%;
        max-width: 600px;
    }

    main section::after {
        display: none;
    }
}