@import './../tipography.css';
@import './footer.css';
@import './header.css';
@import './../reset.css';

main {
    background-color: rgba(128, 128, 128, 0.26);
    overflow: hidden;
}

main section img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

main nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(102, 51, 153);
    padding: 15px;
}

main p {
    max-width: fit-content;
    min-width: min-content;
}

main section {
    position: relative;
    text-align: center;
    display: flex;
    margin: 2em;
    min-width: 70%;
    max-width: 90%;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.247);
    border-radius: 50px;
}
main section:nth-child(even) {
    flex-flow: row-reverse wrap;
    float: right;
}


main section:nth-child(odd) {
    flex-flow: row wrap;
}

main h2 {
    margin-bottom: 0.5em;
}

main p {
    width: 80vh;
}

main section:first-of-type div {
    padding-inline: 5vh;
    padding-block: 5%;
}

main section:nth-of-type(2) div {
    margin-top: 50px;
    padding-left: 2%;
}

main section:last-child div {
    margin-top: 8%;
    margin-right: 1em;
}
main section:nth-of-type(odd)::after {
    content: '';
    position: absolute;
    left: -20px;
    width: 5px;
    border-radius: 10px;
    background-color: green;
}

main section:nth-of-type(3):after {
    height: 340px;
}

main section:first-of-type::after {
    height: 260px;
}

main section:nth-of-type(2)::after {
    content: '';
    position: absolute;
    right: -18px;
    width: 6px;
    top: 17%;
    height: 230px;
    border-radius: 10px;
    background-color: green;
}

#padrao {
    margin-right: 220px;
}

