header {
    background-image: url(../../img/centro-sao-luis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}